.btn {
  background-color: $backgroundColorBtn;
  color: $hoverColorBtn;
  padding: .5em 1em .1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  @include fontOptions(14px, 900);
  font-family: 'CrimsonText-Bold';

  --border_size: 2px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border_size) solid $backgroundColorBtn;
  transition: top, left, right, bottom, 200ms ease-in-out;
}
.btn:hover::before,
.btn:focus::before  {
  top: calc(var(--border_size) * -2);
  left: calc(var(--border_size) * -2);
  right: -4px;
  bottom: calc(var(--border_size) * -2);
}