@font-face{
  font-family: 'CrimsonText-Bold';
  src: url('../../fonts/CrimsonText-Bold/CrimsonText-Bold.eot'),
  url('../../fonts/CrimsonText-Bold/CrimsonText-Bold.woff') format('woff'),
      url('../../fonts/CrimsonText-Bold/CrimsonText-Bold.ttf') format('truetype'),
      url('../../fonts/CrimsonText-Bold/CrimsonText-Bold.otf') format('OpenType'),
      url('../../fonts/CrimsonText-Bold/CrimsonText-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'CrimsonText-Regular';
  src: url('../../fonts/CrimsonText-Regular/CrimsonText-Regular.eot'),
  url('../../fonts/CrimsonText-Regular/CrimsonText-Regular.woff') format('woff'),
      url('../../fonts/CrimsonText-Regular/CrimsonText-Regular.ttf') format('truetype'),
      url('../../fonts/CrimsonText-Regular/CrimsonText-Regular.otf') format('OpenType'),
      url('../../fonts/CrimsonText-Regular/CrimsonText-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
